@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	size: 18px;
}

.container {
	background-color: #ffffff;;
	width: 476px;
	min-height: 230px;
	margin: 20px auto;
	padding: 12px 8px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ull {
	width: 476px;
}

.high__inner {
	display: flex;
	flex-direction: column;
}

.text__hight {
	margin: 12px 0px;
	
}

.form__high,
.form__low {
	position: relative;
}

.input__place-low,
.input__place-high {
	width: 100%;
	padding: 10px 35px 10px 12px;
	background: #fff;
	border: 1px solid #989898;
	border-radius: 6px;
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 21px;
}

.input__place::placeholder {
	color: #bbbbbb;
}

.add__btn {
	width: 20px;
	height: 20px;
	border: none;
	background-image: url("./IMG/plus-icon.svg");
	background-repeat: no-repeat;
	background-color: inherit;
	background-position: center;
	position: absolute;
	top: 13px;
	right: 12px;
	cursor: pointer;
	transition: 1s;
}

.add__btn:hover {
	transform: rotate(180deg);
}

.close__btn {
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 12px;
	right: 12px;
	background-image: url("./IMG/close-icon.svg");
	background-repeat: no-repeat;
	background-color: inherit;
	background-position: center;
	float: right;
	cursor: pointer;
}

.new__task {
	position: relative;
	display: flex;
	margin-top: 8px;
	justify-content: space-between;
	border: 1px solid #989898;
	border-radius: 6px;
	min-height: 45px;
	background-color: #ffffff;
	
}

.done {
	background-color: #f4f4f4;
}

.task__input {
	width: 21px;
	height: 21px;
	border-radius: 20px;
	margin: 12px;
}

.text__low {
	margin: 12px 0px;
	padding-top: 12px;
}

.label {
	display: flex;
	justify-content: center;
}

.checkbox {
	display: none;
}

.fake {
	display: inline-block;
	margin: 12.2px;
	width: 20px;
	height: 20px;
	border: 1px solid #989898;
	position: relative;
	border-radius: 50%;
	cursor: pointer;
}

.fake::before {
	content: "";
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #5D55D6;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.2s;
}

.checkbox:checked + .fake::before {
	opacity: 1;
}

.text {
	width: 320px;
	margin: 10px;
	margin-top: 14px;
	text-align: left;
	line-height: 21px;
	color: #202020;
	display: block;
	word-break: break-all;
}

.empty {
	border: 1px solid #ff0000;
	box-shadow: 0 0 7px #ff0000;
}

.empty::placeholder {
	color: #ff0000;
}
